<table class="table" *ngIf="terminologies">
    <thead class="thead-dark">
      <tr>
        <th style="width: 20%">Kapitel</th>
        <th style="width: 15%">Begriff</th>
        <th style="width: 25%">Beschreibung</th>
        <th style="width: 10%">Hinzugefügt von</th>
        <th style="width: 10%"></th>
        <th style="width: 5%"></th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let t of terminologies" class="item">
        <tr
          [style.backgroundColor]="calculateStyle(t.chapter)"
          class="app-terminology-item"
          [terminology]="t"
          (deleted)="delete($event)"
        ></tr>
      </ng-container>
    </tbody>
  </table>




